* {
    font-family: "Montserrat", sans-serif;
}


/* Logo design */
.logo {
    padding: 15px 20px 0 0;
    font-size: 22px;
    font-weight: 300;
    vertical-align: middle;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
}


nav .menu-nav .menu-nav__item {
    display: inline-block;
    margin: 0 5px;
}

nav .menu-nav .menu-nav__item .menu-nav__link {
    color: rgb(7, 17, 15);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-nav__link.active,
.menu-nav__link:hover {
    background: rgb(0, 140, 207);
    transition: .5s;
}

.resume {
    margin-left: 8rem;
}

main {
    overflow: hidden;
}

main .contact {
    height: 100vh;
    background: #e0e0dc;
    margin: 0 25%;
    border-radius: 80px;
}

main .contact h2 {
    font-size: 2rem;
    color: rgb(0, 140, 207);
    display: flex;
    justify-content: center;
}

main .contact .form {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .contact .form__group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

main .contact .form__group input,
main .contact .form__group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
    resize: vertical;
}

main .contact .form button[type=submit] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: rgb(0, 140, 207);
    background-color: rgb(126, 81, 30);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.7s ease-in-out;
}

main .contact .form button:hover {
    background-color: rgb(214, 226, 236);
}