* {
  font-family: "Montserrat", sans-serif;
  margin: 0;

}

body {
  height: 100vh;
}
/* Header design */
header {
  z-index: 3;
  margin: 0.5rem;
}

/* Logo design */
.logo {
  padding: 15px 20px 0 0;
  font-size: 22px;
  font-weight: 300;
  vertical-align: middle;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0.5rem;
}


nav .menu-nav .menu-nav__item {
  display: inline-block;
  margin: 0 5px;
}

nav .menu-nav .menu-nav__item .menu-nav__link {
  color: rgb(7, 17, 15);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-nav__link.active,
.menu-nav__link:hover {
  background: rgb(0, 140, 207);
  transition: .5s;
}

.resume {
  margin-left: 8rem;
  padding-right: 2rem;
}

/* Main page */

main {
  margin-top: 4rem;
  padding: 5%;
}

.home {
  display: flex;
  flex-direction: column;
}
.home-name {
  margin-bottom: 1rem;
}
.home-name h1 {
  font-weight: 700;
}
.home-name p {
  padding-top: 0.5rem;
}
.home-name .home-btn {
  background: rgb(0, 140, 207);
  margin-top: 0.5rem;
  padding: 0.3rem;
  border-radius: 7px;
  border: 0;
}

.home__intro {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  padding: 0.5rem;
}

.home__intro h2 {
  font-weight: 700;
  font-size: 2.3rem;
  color: rgb(0, 140, 207);
}
.home__intro p {
  margin-top: 0.5rem;
  border: 2px solid;
  line-height: 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
}
